body {
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  height: 100vh;
}

.list-group-item {
  border: none;
  background: rgb(185, 206, 242);
  border-radius: 8px;
}
.list-group-item:hover {
  background: rgb(156, 183, 231);
}
.icon {
  transition: all 0.2s ease-in-out;
}
.icon:hover {
  transform: scale(1.5);
}
.card {
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}
